{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludimoodle/filename

    Example context (json):
    {}
}}

<div class="section-timer">
    <div class="row">
        <div class="col-4 rightdottedscore">
        {{#parameters.gamified}}
            <h4 class="text-center">{{ name }}</h4>
            <img class="img-responsive d-block mx-auto"
                 src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/timer/default-timer.svg"
                 alt="Image best reference time">
            <p class="text-center">
                {{#str}} averagetime, format_ludimoodle {{/str}}
            </p>
            <div class="progression-text">
                <p class="text-center">
                    <span class="progression">{{ parameters.averagetime }}</span>
                </p>
            </div>
        {{/parameters.gamified}}
        {{^parameters.gamified}}
            <img class="ludimoodle-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/none.svg" alt="Image not gamified">
        {{/parameters.gamified}}
            <div class="section-summary">
                {{{ summary }}}
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                {{#cms}}
                    {{#label}}
                        <div class="col-12 mt-2">
                            <div class="cm-score">
                                {{{ labeltext }}}
                            </div>
                        </div>
                    {{/label}}
                    {{^label}}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="cm-timer">
                                <div class="{{#parameters.restricted }}restricted{{/parameters.restricted}} {{^url}} nourl {{/url}}">
                                    {{#parameters.gamified}}
                                        <img class="img-responsive d-block mx-auto"
                                             src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/timer/icon.svg"
                                             alt="Image activity timer">
                                        {{#parameters.bestpenaltiescalc}}
                                            <div class="penalties">
                                                <span class="penalties-value">+ {{ parameters.bestpenaltiescalc }}s </span>
                                                <span class="penalties-str">{{#str}} ofpenalties, format_ludimoodle {{/str}}</span>
                                            </div>
                                        {{/parameters.bestpenaltiescalc}}
                                    {{/parameters.gamified}}
                                    {{^parameters.gamified}}
                                        <img class="img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/none.svg" alt="Image not gamified">
                                    {{/parameters.gamified}}
                                    <div class="progression-text progression-cm">
                                        <p class="text-center">
                                            <span class="progression">{{ parameters.besttime }}</span>
                                        </p>
                                    </div>
                                    <p class="text-center scoretext">
                                        <span class="cmname"><a href="{{ url }}" class="stretched-link">{{{ name }}}</a></span>
                                    </p>
                                    {{#parameters.restricted }}
                                        <div class="cmrestrictedinfo text-center small"><i class="fa fa-lock"></i> {{{ parameters.restrictedinfo }}}</div>
                                    {{/parameters.restricted }}
                                </div>
                            </div>
                        </div>
                    {{/label}}
                {{/cms}}
            </div>
        </div>
    </div>
</div>
