<table class="ranking-table table">
    <tbody>
        {{#parameters.ranks}}
        <tr class="{{#me}} rank-me bg-warning text-white {{/me}}">
            <td>{{#me}}<b>{{/me}}{{ rank }}{{#me}}</b>{{/me}}</td>
            <td>{{#me}}<b>{{#str}} me, format_ludimoodle {{/str}}</b>{{/me}}</td>
            <td>{{#me}}<b>{{/me}}{{ score }} pts{{#me}}</b>{{/me}}</td>
        </tr>
        {{/parameters.ranks}}
    </tbody>
</table>