{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludilearn/filename

    Example context (json):
    {}
}}

<div id="ludilearn-settings" class="ludilearn-world-{{ world }}">
    <div class="row justify-content-center">
        <div class="col-6 block_section">
            {{#school}}
                {{> format_ludilearn/ranking/school/summary}}
            {{/school}}
            {{#professional}}
                {{> format_ludilearn/ranking/professional/summary}}
            {{/professional}}
            {{#highschool}}
                {{> format_ludilearn/ranking/highschool/summary}}
            {{/highschool}}
        </div>
    </div>
    <p class="align-center">{{#str}} settings:rankingdescription, format_ludilearn {{/str}}</p>
    <p class="align-center"><b>{{#str}} settings:nosetting, format_ludilearn {{/str}}</b></p>
    {{> format_ludilearn/settings_footer}}
</div>