<div id="ludimoodle-settings" class="ludimoodle-world-{{ world }}">
    <div class="row justify-content-center">
            <div class="col-6">
                <div class="row block_section">
                    <div class="col-9 rightdottedscore">
                        <div class="row mr-1">
                            <div class="col-4 mt-0 p-0">
                                <img class="ludimoodle-img little-img img-responsive d-block mx-auto"
                                     src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/badge/badge_bronze.svg"
                                     alt="Image badge">
                            </div>
                            <div class="col-4 mt-0 p-0">
                                <img class="ludimoodle-img little-img img-responsive d-block mx-auto"
                                     src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/badge/badge_silver.svg"
                                     alt="Image badge">
                            </div>
                            <div class="col-4 mt-0 p-0">
                                <img class="ludimoodle-img little-img img-responsive d-block mx-auto"
                                     src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/badge/badge_gold.svg"
                                     alt="Image badge">
                            </div>
                        </div>
                    </div>
                    <div class="col-3" >
                        <img class="ludimoodle-img little-img img-responsive d-block mx-auto"
                             src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/badge/badge_completion.svg"
                             alt="Image badge">
                    </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success editsettingssuccess" role="alert">
        {{#str}} editsettingssuccess, format_ludimoodle {{/str}}
    </div>
    <div class="alert alert-danger editsettingsfailed" role="alert">
        {{#str}} editsettingsfailed, format_ludimoodle {{/str}}
    </div>
    <p class="align-center">{{#str}} settings:badgedescription, format_ludimoodle {{/str}}</p>
    <form id="form-parameters" class="form-parameters mform" action="#">
        <input type="hidden" name="courseid" value="{{ courseid }}">
        <div class="form-group row">
            <div class="col-form-label col-md-3 d-flex pb-0 pr-md-0">
                <label for="input-badgegold" class="d-inline word-break">{{#str}} settings:badgegold, format_ludimoodle  {{/str}}</label>
                <div class="form-label-addon d-flex align-items-center align-self-start">
                    <div class="text-danger">
                        <i class="icon fa fa-exclamation-circle text-danger fa-fw " role="img"></i>
                    </div>
                    <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right"
                       data-content="<div class=&quot;no-overflow&quot;><p>{{#str}} settings:badgegold_help, format_ludimoodle  {{/str}}</p></div>"
                       data-html="true" tabindex="0" data-trigger="focus">
                        <i class="icon fa fa-question-circle text-info fa-fw"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" id="input-badgegold" name="badgegold" type="number" min="0" max="100" value="{{ badgegold }}">
                    <div class="input-group-append">
                        <span class="input-group-text"> % </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-form-label col-md-3 d-flex pb-0 pr-md-0">
                <label for="input-badgesilver" class="d-inline word-break">{{#str}} settings:badgesilver, format_ludimoodle  {{/str}}</label>
                <div class="form-label-addon d-flex align-items-center align-self-start">
                    <div class="text-danger">
                        <i class="icon fa fa-exclamation-circle text-danger fa-fw " role="img"></i>
                    </div>
                    <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right"
                       data-content="<div class=&quot;no-overflow&quot;><p>{{#str}} settings:badgesilver_help, format_ludimoodle  {{/str}}</p></div>"
                       data-html="true" tabindex="0" data-trigger="focus">
                        <i class="icon fa fa-question-circle text-info fa-fw"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" id="input-badgesilver" name="badgesilver" type="number" min="0" max="100" value="{{ badgesilver }}">
                    <div class="input-group-append">
                        <span class="input-group-text"> % </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-form-label col-md-3 d-flex pb-0 pr-md-0">
                <label for="input-badgebronze" class="d-inline word-break">{{#str}} settings:badgebronze, format_ludimoodle  {{/str}}</label>
                <div class="form-label-addon d-flex align-items-center align-self-start">
                    <div class="text-danger">
                        <i class="icon fa fa-exclamation-circle text-danger fa-fw " role="img"></i>
                    </div>
                    <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right"
                       data-content="<div class=&quot;no-overflow&quot;><p>{{#str}} settings:badgebronze_help, format_ludimoodle  {{/str}}</p></div>"
                       data-html="true" tabindex="0" data-trigger="focus">
                        <i class="icon fa fa-question-circle text-info fa-fw"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" id="input-badgebronze" name="badgebronze" type="number" min="0" max="100" value="{{ badgebronze }}">
                    <div class="input-group-append">
                        <span class="input-group-text"> % </span>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">{{#str}} save {{/str}}</button>
    </form>
    {{> format_ludimoodle/settings_footer}}
</div>