{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludilearn/filename

    Example context (json):
    {}
}}

<div class="course-score">
    <div class="row">
        <div class="col-12">
            <div class="{{#parameters.restricted }}restricted{{/parameters.restricted}} {{^url}} nourl {{/url}}">
                {{#parameters.lastaccess}}
                    {{#parameters.gamified}}
                        {{#parameters.noscore}}
                            <img class="ludilearn-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/none.svg" alt="Image no score">
                        {{/parameters.noscore}}
                        {{^parameters.noscore}}
                            <img class="ludilearn-img img-responsive mb-1 d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/score/chest.svg" alt="Image score chest">
                        {{/parameters.noscore}}
                    {{/parameters.gamified}}
                    {{^parameters.gamified}}
                        <img class="ludilearn-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/none.svg" alt="Image not gamified">
                    {{/parameters.gamified}}
                {{/parameters.lastaccess}}
                {{^parameters.lastaccess}}
                    <img class="ludilearn-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/unkown.svg" alt="Image no score">
                {{/parameters.lastaccess}}
                <p class="text-center scoretext">
                    {{#parameters.lastaccess}}
                        {{^parameters.noscore}}
                            <span class="playerscore">{{ parameters.score }}</span> / {{ parameters.maxscore }} pts
                        {{/parameters.noscore}}
                    {{/parameters.lastaccess}}
                    <br>
                    <span class="sectionname"><a href="{{ url }}" class="stretched-link">{{{ name }}}</a></span>
                </p>
                {{#parameters.restricted }}
                    <div class="sectionrestrictedinfo small text-center"><i class="fa fa-lock"></i> {{{ parameters.restrictedinfo }}}</div>
                {{/parameters.restricted }}
                {{^visible}}
                    <div class="section-hidden text-center">
                        <span class="badge badge-info">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}
            </div>
        </div>
    </div>
</div>