{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludilearn/filename

    Example context (json):
    {}
}}

<div class="section-score">
    <div class="row">
        <div class="col-4 rightdottedscore">
            <h4 class="text-center">{{ name }}</h4>
            {{#parameters.gamified}}
                <img class="ludilearn-img img-responsive mb-1 d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/score/chest.svg" alt="Image score chest">
                {{^parameters.noscore}}
                <p class="text-center scoretext">
                    <span class="playerscore">{{ parameters.score }}</span> / {{ parameters.maxscore }} pts
                </p>
                {{/parameters.noscore}}
            {{/parameters.gamified}}
            {{^parameters.gamified}}
                <img class="ludilearn-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/none.svg" alt="Image not gamified">
            {{/parameters.gamified}}
            <div class="section-summary">
                {{{ summary }}}
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                {{#cms}}
                    {{#label}}
                        <div class="col-12 mt-2">
                            <div class="cm-score">
                                {{{ labeltext }}}
                            </div>
                        </div>
                    {{/label}}
                    {{^label}}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="cm-score">
                                <div class="{{#parameters.restricted }}restricted{{/parameters.restricted}} {{^url}} nourl {{/url}}">
                                    {{#parameters.gamified}}
                                        <img class="ludilearn-img {{#parameters.restricted }}restricted{{/parameters.restricted }} img-responsive mb-1 d-block mx-auto"
                                             src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/score/bag.svg" alt="Image score chest">
                                        {{#parameters.bonuscompletion}}
                                            <div class="bonuscompletion">
                                                <span class="bonuscompletion-value">+ {{ parameters.bonuscompletion }}</span>
                                                <span class="bonuscompletion-str">{{#str}} settings:bonuscompletion, format_ludilearn {{/str}}</span>
                                            </div>
                                        {{/parameters.bonuscompletion}}
                                    {{/parameters.gamified}}
                                    {{^parameters.gamified}}
                                        <img class="ludilearn-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/none.svg" alt="Image not gamified">
                                    {{/parameters.gamified}}
                                    <p class="text-center scoretext">
                                        {{#parameters.gamified}}
                                            {{^parameters.noscore}}<span class="playerscore">{{ parameters.score }}</span> / {{ parameters.maxscore }} pts {{/parameters.noscore}}<br>
                                        {{/parameters.gamified}}
                                        <span class="cmname"><a href="{{ url }}" class="stretched-link">{{{ name }}}</a></span>
                                    </p>
                                    {{#parameters.restricted }}
                                        <div class="cmrestrictedinfo text-center small"><i class="fa fa-lock"></i> {{{ parameters.restrictedinfo }}}</div>
                                    {{/parameters.restricted }}
                                </div>
                            </div>
                        </div>
                    {{/label}}
                {{/cms}}
            </div>
        </div>
    </div>
</div>