<div id="ludimoodle-gameprofile">
    <p>{{#str}} gameprofile_desc, format_ludimoodle  {{/str}}</p>

    <!-- div pour contenire le canvas centré et avec une taille maximale -->
    <div class="row">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-center">
                <canvas id="hexadChart" aria-label="Hello ARIA World" role="img"></canvas>
            </div>
        </div>
    </div>
    <!-- Button back to course align in the middle -->
    <div class="row">
        <div class="col-12">
            <a href="{{globals.config.wwwroot}}/course/view.php?id={{courseid}}" class="btn btn-primary float-right">{{#str}} backtocourse, format_ludimoodle {{/str}}</a>
        </div>
    </div>
</div>