<div class="setting-footer">
    <hr>
    <div class="row">
        <div class="col-12">
            {{#str}} partner_text, format_ludimoodle {{/str}}
            <img src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/partner/partner.jpeg" alt="partner" class="img-fluid">
            {{#str}} partner_text2, format_ludimoodle {{/str}}
            <img src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/partner/partner2.png" alt="partner" class="img-fluid">
        </div>
    </div>
</div>