<div class="cm-nogamified {{#cm.parameters.restricted }}restricted{{/cm.parameters.restricted }}">
    <img class="ludimoodle-img img-responsive d-block mx-auto" src="{{globals.config.wwwroot}}/course/format/ludimoodle/pix/{{ world }}/none.svg" alt="Image no gamified">
</div>
