{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludilearn/filename

    Example context (json):
    {}
}}

<div class="cm-process {{#cm.parameters.restricted }}restricted{{/cm.parameters.restricted }}">
{{#parameters.gamified }}
    <div class="row mb-2">
        <div class="col-12">
            <div class="circle-progression c100 biggest ludilearn p{{ parameters.progression }}">
                <span class="show">
                    <img class="progression-bar-component rocket" src="{{globals.config.wwwroot}}/course/format/ludilearn/pix/{{ world }}/progress/mod-rocket-sprite.svg">
                </span>
                <div class="slice">
                    <div class="bar"></div><div class="fill"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="progression-text">
                <p class="text-center">
                    <span class="progression">{{ parameters.progression }}%</span>
                </p>
            </div>
        </div>
    </div>
{{/parameters.gamified }}
</div>
