{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ludilearn/filename

    Example context (json):
    {}
}}

<ul class="pagination justify-content-center" >
    <li class="page-item disabled">
        <a id="page-link-previous" class="page-link" href="#" aria-label="Previous" tabindex="-1">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {{#pages}}
        <li class="page-item page {{# active}}active{{/active}}">
            <a id="page-link-{{ number }}" class="page-link" data-id="{{ number }}" href="#" tabindex="0">
                {{ number }}
                {{# active }}
                    <span class="sr-only">(current)</span>
                {{/active}}
            </a>
        </li>
    {{/pages}}
    <li class="page-item {{# onepage }}disabled{{/onepage}}">
        <a id="page-link-next" class="page-link" href="#" aria-label="Next" {{# onepage }}tabindex="-1"{{/onepage}}>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>